* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: bisque;
}

.container {
  height: 100vh;
  padding: 20px 0px;
  
}

.todolist-container {
  text-align: center;
  font-size: larger;
  height: 86vh;
  min-height: 505px;
  max-width: 30vw;
  min-width: 173px;
  border: 2px solid transparent;
  box-shadow: rgb(231, 153, 58) 0 0 11px;
  margin: 0px auto;
  padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #e5983c;
}

.todolist-container:hover {
  box-shadow: rgb(188, 106, 7) 0 0 15px 10px;

  transition: all ease-in-out 0.3s;
}


.title {
  color:white;

}

.underline {
  background-color: #119999;
  height: 2px;
  width: 4rem;
  margin: 0px auto;
}
/*input wrapper container at top */
.input-container{
  font-size: larger;
}
.input-container button{
  border: none;
  
  font-size: larger;
  background-color: inherit;
  
}
.input-container button:hover{
 color:green;
}
/*text input at top*/
.top-input {
  outline: none;
  border: none;
  margin: 1rem 0;
  width: 70%;
  height: 25px;
  text-align: center;
  font-size: larger;
  background-color: inherit;
}
/*list*/
ol{
  list-style: none;
  max-height: 319px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar-button{
  background-color:blue;
}



.list-element{
  display:flex;
  gap:1rem;
  border:2px solid #030376;
  border-radius: .5rem;
}
.list-element:hover{
  background-color:  #d17c15;
}
.list-element button{
  border:none;
  background-color: inherit;
  font-size: larger;
 
}
.list-element button:nth-child(2):hover{
  color:red;
  
}
.list-element h3:first-child{
 margin-right:auto;
}
/*clear list button*/
.clear-btn{
  padding:.5rem 2rem;
  background-color:#9191d5 ;
   border:2px solid black ;
  border-radius: 1rem ;
}
.clear-btn:hover{
  background-color:#7676d7;
 
}
.clear-btn:last-child{
  margin-top: auto;
}